div#men1{
  background: rgba(241,231,103,1);
background: -moz-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 95%, rgba(254,182,69,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(241,231,103,1)), color-stop(95%, rgba(254,182,69,1)), color-stop(100%, rgba(254,182,69,1)));
background: -webkit-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 95%, rgba(254,182,69,1) 100%);
background: -o-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 95%, rgba(254,182,69,1) 100%);
background: -ms-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 95%, rgba(254,182,69,1) 100%);
background: linear-gradient(to bottom, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 95%, rgba(254,182,69,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645', GradientType=0 );
  width: 650px;
  height: 70px;
  margin:0px 0px 0px 100px ;
}
div#men2{
  background-color:red;
  width:170px;
  height: 70px;
  margin:-80px 0px 0px 707px ;
}
div#men3{
  background: rgba(241,231,103,1);
background: -moz-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 95%, rgba(254,182,69,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(241,231,103,1)), color-stop(95%, rgba(254,182,69,1)), color-stop(100%, rgba(254,182,69,1)));
background: -webkit-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 95%, rgba(254,182,69,1) 100%);
background: -o-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 95%, rgba(254,182,69,1) 100%);
background: -ms-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 95%, rgba(254,182,69,1) 100%);
background: linear-gradient(to bottom, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 95%, rgba(254,182,69,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645', GradientType=0 );
  width: 595px;
  height: 70px;
  margin:-70px 0px 0px 875px ;
}
div#letr1{
  background: rgba(255,244,87,1);
background: -moz-linear-gradient(top, rgba(255,244,87,1) 3%, rgba(255,104,66,1) 67%, rgba(255,104,66,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(3%, rgba(255,244,87,1)), color-stop(67%, rgba(255,104,66,1)), color-stop(100%, rgba(255,104,66,1)));
background: -webkit-linear-gradient(top, rgba(255,244,87,1) 3%, rgba(255,104,66,1) 67%, rgba(255,104,66,1) 100%);
background: -o-linear-gradient(top, rgba(255,244,87,1) 3%, rgba(255,104,66,1) 67%, rgba(255,104,66,1) 100%);
background: -ms-linear-gradient(top, rgba(255,244,87,1) 3%, rgba(255,104,66,1) 67%, rgba(255,104,66,1) 100%);
background: linear-gradient(to bottom, rgba(255,244,87,1) 3%, rgba(255,104,66,1) 67%, rgba(255,104,66,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff457', endColorstr='#ff6842', GradientType=0 );
  width: 650px;
  height: 90px;
  margin:40px 0px 0px 100px ;
  -webkit-box-shadow: 25px 13px 22px 6px rgba(0,0,0,0.75);
  -moz-box-shadow: 25px 13px 22px 6px rgba(0,0,0,0.75);
  box-shadow: 25px 13px 22px 6px rgba(0,0,0,0.75);
}
div#comida{
  background: rgba(255,104,66,1);
background: -moz-linear-gradient(top, rgba(255,104,66,1) 0%, rgba(255,104,66,1) 0%, rgba(255,104,66,1) 21%, rgba(255,244,87,1) 97%, rgba(255,244,87,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,104,66,1)), color-stop(0%, rgba(255,104,66,1)), color-stop(21%, rgba(255,104,66,1)), color-stop(97%, rgba(255,244,87,1)), color-stop(100%, rgba(255,244,87,1)));
background: -webkit-linear-gradient(top, rgba(255,104,66,1) 0%, rgba(255,104,66,1) 0%, rgba(255,104,66,1) 21%, rgba(255,244,87,1) 97%, rgba(255,244,87,1) 100%);
background: -o-linear-gradient(top, rgba(255,104,66,1) 0%, rgba(255,104,66,1) 0%, rgba(255,104,66,1) 21%, rgba(255,244,87,1) 97%, rgba(255,244,87,1) 100%);
background: -ms-linear-gradient(top, rgba(255,104,66,1) 0%, rgba(255,104,66,1) 0%, rgba(255,104,66,1) 21%, rgba(255,244,87,1) 97%, rgba(255,244,87,1) 100%);
background: linear-gradient(to bottom, rgba(255,104,66,1) 0%, rgba(255,104,66,1) 0%, rgba(255,104,66,1) 21%, rgba(255,244,87,1) 97%, rgba(255,244,87,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6842', endColorstr='#fff457', GradientType=0 );
width: 650px;
height: 680px;
margin:40px 0px 0px 100px ;
-webkit-box-shadow: 25px 13px 22px 6px rgba(0,0,0,0.75);
-moz-box-shadow: 25px 13px 22px 6px rgba(0,0,0,0.75);
box-shadow: 25px 13px 22px 6px rgba(0,0,0,0.75);
}
div#cheems1{
  background-color:white;
  width: 312px;
  height: 156px;
  margin:-140px 0px 0px 270px ;
}
div#letr2{
  background: rgba(255,244,87,1);
background: -moz-linear-gradient(top, rgba(255,244,87,1) 3%, rgba(255,104,66,1) 67%, rgba(255,104,66,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(3%, rgba(255,244,87,1)), color-stop(67%, rgba(255,104,66,1)), color-stop(100%, rgba(255,104,66,1)));
background: -webkit-linear-gradient(top, rgba(255,244,87,1) 3%, rgba(255,104,66,1) 67%, rgba(255,104,66,1) 100%);
background: -o-linear-gradient(top, rgba(255,244,87,1) 3%, rgba(255,104,66,1) 67%, rgba(255,104,66,1) 100%);
background: -ms-linear-gradient(top, rgba(255,244,87,1) 3%, rgba(255,104,66,1) 67%, rgba(255,104,66,1) 100%);
background: linear-gradient(to bottom, rgba(255,244,87,1) 3%, rgba(255,104,66,1) 67%, rgba(255,104,66,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff457', endColorstr='#ff6842', GradientType=0 );
  width: 650px;
  height: 90px;
  margin:-818px 0px 0px 820px ;
  -webkit-box-shadow: 25px 13px 22px 6px rgba(0,0,0,0.75);
  -moz-box-shadow: 25px 13px 22px 6px rgba(0,0,0,0.75);
  box-shadow: 25px 13px 22px 6px rgba(0,0,0,0.75);
}
div#bebidas{
  background: rgba(255,104,66,1);
background: -moz-linear-gradient(top, rgba(255,104,66,1) 0%, rgba(255,104,66,1) 0%, rgba(255,104,66,1) 21%, rgba(255,244,87,1) 97%, rgba(255,244,87,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,104,66,1)), color-stop(0%, rgba(255,104,66,1)), color-stop(21%, rgba(255,104,66,1)), color-stop(97%, rgba(255,244,87,1)), color-stop(100%, rgba(255,244,87,1)));
background: -webkit-linear-gradient(top, rgba(255,104,66,1) 0%, rgba(255,104,66,1) 0%, rgba(255,104,66,1) 21%, rgba(255,244,87,1) 97%, rgba(255,244,87,1) 100%);
background: -o-linear-gradient(top, rgba(255,104,66,1) 0%, rgba(255,104,66,1) 0%, rgba(255,104,66,1) 21%, rgba(255,244,87,1) 97%, rgba(255,244,87,1) 100%);
background: -ms-linear-gradient(top, rgba(255,104,66,1) 0%, rgba(255,104,66,1) 0%, rgba(255,104,66,1) 21%, rgba(255,244,87,1) 97%, rgba(255,244,87,1) 100%);
background: linear-gradient(to bottom, rgba(255,104,66,1) 0%, rgba(255,104,66,1) 0%, rgba(255,104,66,1) 21%, rgba(255,244,87,1) 97%, rgba(255,244,87,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6842', endColorstr='#fff457', GradientType=0 );
width: 650px;
height: 680px;
margin:40px 0px 0px 820px ;
-webkit-box-shadow: 25px 13px 22px 6px rgba(0,0,0,0.75);
-moz-box-shadow: 25px 13px 22px 6px rgba(0,0,0,0.75);
box-shadow: 25px 13px 22px 6px rgba(0,0,0,0.75);
}
div#cheems4{
  background-color: white;
  width: 260px;
  height:173px;
  margin:-490px 0px 0px 350px ;
}
div#cheems5{
  background-color: white;
  width: 217px;
  height:280px;
  margin:100px 0px 0px 350px ;
}
div#ofertones{
  background: rgba(255,244,87,1);
background: -moz-linear-gradient(top, rgba(255,244,87,1) 3%, rgba(255,104,66,1) 67%, rgba(255,104,66,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(3%, rgba(255,244,87,1)), color-stop(67%, rgba(255,104,66,1)), color-stop(100%, rgba(255,104,66,1)));
background: -webkit-linear-gradient(top, rgba(255,244,87,1) 3%, rgba(255,104,66,1) 67%, rgba(255,104,66,1) 100%);
background: -o-linear-gradient(top, rgba(255,244,87,1) 3%, rgba(255,104,66,1) 67%, rgba(255,104,66,1) 100%);
background: -ms-linear-gradient(top, rgba(255,244,87,1) 3%, rgba(255,104,66,1) 67%, rgba(255,104,66,1) 100%);
background: linear-gradient(to bottom, rgba(255,244,87,1) 3%, rgba(255,104,66,1) 67%, rgba(255,104,66,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff457', endColorstr='#ff6842', GradientType=0 );
  width: 1370px;
  height: 90px;
  margin:30px 0px 0px 100px ;
  -webkit-box-shadow: 25px 13px 22px 6px rgba(0,0,0,0.75);
  -moz-box-shadow: 25px 13px 22px 6px rgba(0,0,0,0.75);
  box-shadow: 25px 13px 22px 6px rgba(0,0,0,0.75);
}
div#of{
  background: rgba(255,104,66,1);
background: -moz-linear-gradient(top, rgba(255,104,66,1) 0%, rgba(255,104,66,1) 0%, rgba(255,104,66,1) 21%, rgba(255,244,87,1) 97%, rgba(255,244,87,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,104,66,1)), color-stop(0%, rgba(255,104,66,1)), color-stop(21%, rgba(255,104,66,1)), color-stop(97%, rgba(255,244,87,1)), color-stop(100%, rgba(255,244,87,1)));
background: -webkit-linear-gradient(top, rgba(255,104,66,1) 0%, rgba(255,104,66,1) 0%, rgba(255,104,66,1) 21%, rgba(255,244,87,1) 97%, rgba(255,244,87,1) 100%);
background: -o-linear-gradient(top, rgba(255,104,66,1) 0%, rgba(255,104,66,1) 0%, rgba(255,104,66,1) 21%, rgba(255,244,87,1) 97%, rgba(255,244,87,1) 100%);
background: -ms-linear-gradient(top, rgba(255,104,66,1) 0%, rgba(255,104,66,1) 0%, rgba(255,104,66,1) 21%, rgba(255,244,87,1) 97%, rgba(255,244,87,1) 100%);
background: linear-gradient(to bottom, rgba(255,104,66,1) 0%, rgba(255,104,66,1) 0%, rgba(255,104,66,1) 21%, rgba(255,244,87,1) 97%, rgba(255,244,87,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6842', endColorstr='#fff457', GradientType=0 );
width: 1370px;
height: 380px;
margin:40px 0px 0px 100px ;
-webkit-box-shadow: 25px 13px 22px 6px rgba(0,0,0,0.75);
-moz-box-shadow: 25px 13px 22px 6px rgba(0,0,0,0.75);
box-shadow: 25px 13px 22px 6px rgba(0,0,0,0.75);
}
div#cheems6{
  background-color: white;
  width: 464px;
  height:326px;
  margin:-300px 0px 0px 800px ;
}
div#galeria{
  background: rgba(255,244,87,1);
background: -moz-linear-gradient(top, rgba(255,244,87,1) 3%, rgba(255,104,66,1) 67%, rgba(255,104,66,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(3%, rgba(255,244,87,1)), color-stop(67%, rgba(255,104,66,1)), color-stop(100%, rgba(255,104,66,1)));
background: -webkit-linear-gradient(top, rgba(255,244,87,1) 3%, rgba(255,104,66,1) 67%, rgba(255,104,66,1) 100%);
background: -o-linear-gradient(top, rgba(255,244,87,1) 3%, rgba(255,104,66,1) 67%, rgba(255,104,66,1) 100%);
background: -ms-linear-gradient(top, rgba(255,244,87,1) 3%, rgba(255,104,66,1) 67%, rgba(255,104,66,1) 100%);
background: linear-gradient(to bottom, rgba(255,244,87,1) 3%, rgba(255,104,66,1) 67%, rgba(255,104,66,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff457', endColorstr='#ff6842', GradientType=0 );
  width: 1370px;
  height: 90px;
  margin:30px 0px 0px 0px ;
  -webkit-box-shadow: 25px 13px 22px 6px rgba(0,0,0,0.75);
  -moz-box-shadow: 25px 13px 22px 6px rgba(0,0,0,0.75);
  box-shadow: 25px 13px 22px 6px rgba(0,0,0,0.75);
}
div#g{
  background: rgba(255,104,66,1);
background: -moz-linear-gradient(top, rgba(255,104,66,1) 0%, rgba(255,104,66,1) 0%, rgba(255,104,66,1) 21%, rgba(255,244,87,1) 97%, rgba(255,244,87,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,104,66,1)), color-stop(0%, rgba(255,104,66,1)), color-stop(21%, rgba(255,104,66,1)), color-stop(97%, rgba(255,244,87,1)), color-stop(100%, rgba(255,244,87,1)));
background: -webkit-linear-gradient(top, rgba(255,104,66,1) 0%, rgba(255,104,66,1) 0%, rgba(255,104,66,1) 21%, rgba(255,244,87,1) 97%, rgba(255,244,87,1) 100%);
background: -o-linear-gradient(top, rgba(255,104,66,1) 0%, rgba(255,104,66,1) 0%, rgba(255,104,66,1) 21%, rgba(255,244,87,1) 97%, rgba(255,244,87,1) 100%);
background: -ms-linear-gradient(top, rgba(255,104,66,1) 0%, rgba(255,104,66,1) 0%, rgba(255,104,66,1) 21%, rgba(255,244,87,1) 97%, rgba(255,244,87,1) 100%);
background: linear-gradient(to bottom, rgba(255,104,66,1) 0%, rgba(255,104,66,1) 0%, rgba(255,104,66,1) 21%, rgba(255,244,87,1) 97%, rgba(255,244,87,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6842', endColorstr='#fff457', GradientType=0 );
width: 1370px;
height: 1625px;
margin:190px 0px 0px 100px ;
-webkit-box-shadow: 25px 13px 22px 6px rgba(0,0,0,0.75);
-moz-box-shadow: 25px 13px 22px 6px rgba(0,0,0,0.75);
box-shadow: 25px 13px 22px 6px rgba(0,0,0,0.75);
}
div#fin{
  background: rgba(255,244,87,1);
background: -moz-linear-gradient(top, rgba(255,244,87,1) 3%, rgba(255,104,66,1) 67%, rgba(255,104,66,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(3%, rgba(255,244,87,1)), color-stop(67%, rgba(255,104,66,1)), color-stop(100%, rgba(255,104,66,1)));
background: -webkit-linear-gradient(top, rgba(255,244,87,1) 3%, rgba(255,104,66,1) 67%, rgba(255,104,66,1) 100%);
background: -o-linear-gradient(top, rgba(255,244,87,1) 3%, rgba(255,104,66,1) 67%, rgba(255,104,66,1) 100%);
background: -ms-linear-gradient(top, rgba(255,244,87,1) 3%, rgba(255,104,66,1) 67%, rgba(255,104,66,1) 100%);
background: linear-gradient(to bottom, rgba(255,244,87,1) 3%, rgba(255,104,66,1) 67%, rgba(255,104,66,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff457', endColorstr='#ff6842', GradientType=0 );
  width: 1370px;
  height: 90px;
  margin:30px 0px 0px 100px ;
  -webkit-box-shadow: 25px 13px 22px 6px rgba(0,0,0,0.75);
  -moz-box-shadow: 25px 13px 22px 6px rgba(0,0,0,0.75);
  box-shadow: 25px 13px 22px 6px rgba(0,0,0,0.75);
}
div#Agrad{
  background-color: white;
  width: 170px;
  height: 120px;
  margin:-30px 0px 0px 600px ;
}
